*.o

qooxdoo-1.6-sdk/
web/nhweb/build/
website/

GateKeeper
INIReaderTest
db/lib/CNHDBAccess.cpp
db/lib/CNHDBAccess.h
db/lib/CNHDBAccess.php
db/lib/gen_dblib
nh-irc
nh-irc-misc
nh-irccat
nh-mail
nh-matrix
nh-monitor
nh-temperature
nh-test
nh-test-irc
nh-tts
nh-vend
