[Unit]
Description=Matrix displays
After=network.target mosquitto.service
Requires=mosquitto.service	

[Service]
Type=forking
ExecStart=/home/instrumentation/bin/nh-matrix -c /home/instrumentation/conf/nh-matrix.conf
#KillMode=process
Restart=on-failure

[Install]
WantedBy=instrumentation.target

