[Unit]
Description=Tools 
After=network.target mosquitto.service
Requires=mosquitto.service	

[Service]
Type=forking
ExecStart=/home/instrumentation/bin/nh-tools -c /home/instrumentation/conf/nh-tools.conf
#KillMode=process
Restart=on-failure

[Install]
WantedBy=instrumentation.target

